@media (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 992px) {
  .logo {
    margin: 0rem 1rem 0.5px 1rem;
  }

  .search_input {
    background-color: #ffffff;
    border-radius: 2px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    width: 18rem;
  }
  .shopping_cart {
    height: 100%;
    width: 5rem;
    display: block;
    margin: 0.5rem 2rem 0.5rem 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .navbar-container .right {
    margin-left: -2rem;
    align-items: center;
    display: flex;
    color: #fff;
  }
  .nav-item {
    margin: 0 3vh !important;
  }

  .categories_container {
    position: fixed;
    background-color: #ffffff;
    color: #808080;
    font-size: 14px;
    line-height: 24px;
    top: 8rem;
    left: 1rem;
    width: 13rem;
    /* margin: 0 0 0 10rem; */
  }

  .main_content {
    margin-top: 397rem;
    margin-right: 11rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .categories_container {
    position: fixed;
    background-color: #ffffff;
    color: #808080;
    font-size: 14px;
    line-height: 24px;
    top: 9rem;
    left: 1rem;
    width: 11rem;
  }

  .categories_content {
    max-width: 256px;
    padding: 0;
  }

  .navbar .navbar-container .right {
    margin-left: -1rem;
    align-items: center;
    display: flex;
    color: #fff;
  }

  .logo {
    margin: 0rem 4rem 0.5px 6rem;
  }

  .shopping_cart {
    height: 100%;
    width: 2rem;
    display: block;
    margin: 0.5rem 1rem 0.5rem 3rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shopping_cart span {
    text-align: center;
    font-size: 14px;
    display: none;
    line-height: 18px;
  }
  .categories_heading {
    background-color: #eaeaea;
    color: #3f3f3f;
    font-size: 22px;
  }

  .main_content {
    margin-top: 508rem;
    margin-left: 20rem;
  }

  .content_container .box {
    /* max-width: 37rem !important; */
    width: 45rem !important;
    flex: 1;
    margin: 0 90px 15px 0;
    display: flex;
    /* flex-grow: 0; */
    /* flex-shrink: 1; */
    flex-basis: calc(25% - 1em);
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .main_content {
    /* margin-top: 411rem; */
  }
  .logo {
    margin: 0rem 13rem 0.5px 13rem;
  }

  .shopping_cart {
    height: 100%;
    width: 5rem rem;
    display: block;
    margin: 0.5rem 2rem 0.5rem 7rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .navbar-container .right {
    margin-left: 3rem;
    align-items: center;
    display: flex;
    color: #fff;
  }

  .Search_input_container {
    display: flex;
    align-items: center;
  }
  .categories_heading {
    background-color: #eaeaea;
    color: #3f3f3f;
    font-size: 33px;
  }
  .categories_container {
    position: fixed;
    background-color: #ffffff;
    color: #808080;
    font-size: 14px;
    line-height: 24px;
    top: 9rem;
    left: 4rem;
    width: 17rem;
    /* margin: 0 0 0 10rem; */
  }
  .content_container .box {
    width: 20rem;
    margin: 0 41px 20px 0;
    display: flex;
    flex: 1;
    flex-shrink: 1;
    flex-basis: calc(25% - 1em);
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .content_container .box .content_img {
    margin: 20px 0;
    height: 13rem;
    max-width: 100%;
  }
}
